html {
    background:black;
}

.main   {
    color:goldenrod;
}

.tag    {
    color:whitesmoke;
    font-size: 14px;
}

.tag1   {
    color:wheat;
    font-size: 14px;
}

.ex {
    color:green;
}

.ok {
    color:yellow
}
#italic {
    font-style: italic;
}
